@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Josefin Slab', serif;
    font-weight: 1000;
    color:#1B4E53;

}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #002829;
}

h3 {
  text-decoration-line: underline;
}

#logo {
    float:left;
    font-size: 280%;
    margin-left: 20px;
    color: #002829;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    float:right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #002829;
}

.active {
    border-bottom: 1px solid #002829;
}

section {
    width:100%;
}

#hero-image {
    background: url('../images/pexels-flo-maderebner-1249545.jpg') no-repeat center center;
    height: 600px;
    width: 100%;
}

/* Large */
.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
  }
  
  /* Medium screens */
  @media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }

    #hero-image {
        background: url('../images/hero-medium-screen.jpg') no-repeat center center;
        height: 30%;
        width: 100%;
        background-size: cover;
    }
    }
  /* Small screens */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
    #hero-image {
    background: url('../images/hero-small-screen.jpg') no-repeat center center;
    height: 30%;
    width: 100%;
    background-size: cover;
    }
    }

    .container-1 {
      display: flex;
    }

     /* Medium screens */
  @media all and (max-width: 800px) {
    .container-1 {
      display: flex;
    }
     /* When on medium sized screens, we center it by evenly distributing empty space around items */
    }
    
    
  /* Small screens */
  @media all and (max-width: 500px) {
    .container-1 {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
    }
  
  .container-1 div {
    border: 1px #ccc solid;
    padding: 30px;
    margin: 30px;
    justify-content: center;
  }

  .box-1 {
    flex:1;
    text-align: center;
    background-color: #74A0AA;
    border-radius: 50%;
  }

  .box-2 {
    flex:1;
    text-align: center;
    background-color: #74A0AA;
    border-radius: 50%;
  }

ul {
  list-style: none;
}